.hero {
  height:80vh;
  background-size: cover;
  padding-top:8vh;
  padding-bottom:30vh;

  color:white;
}

.hero h1 {
  text-transform: uppercase;
}
.hero .text-area {
  padding: .8rem;
  background-color: rgba(0, 0, 0, 0.5)
}

.poster-image {
  width:100%;
}